.container{
  display : flex ;
  flex-direction : column ;
  align-items : center ;
  background : yellow ;
  flex-wrap : wrap ;
}
.cont{
  display : flex; 
  margin : 10px ;
}
#price{
  color : green ;
}